*, html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: #f7f7f7;
	font: 16px/1.3 Arial, sans-serif;
	padding: 24px;
}
ul, ol { 
	margin:8px 0 8px 16px;
}
.toolbar {
	border: 1px solid #ddd;
	padding: 16px;
	border-radius: 4px 4px 8px 8px;
	box-shadow: 0 5px 10px #ddd;
	background: #fff; 
}
.toolbar a {
	display: inline-block;
	border: 1px solid #888;
	padding: 5px 8px;
	margin: 0 5px 10px 0;
	color: #000;
	border-radius: 3px;
	font-size: 12px;
	box-shadow: 1px 1px 2px #ddd;
	background: #fff;
	vertical-align: top;
	text-decoration: none;
}
.toolbar select {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	background: #fff;
	padding: 0;
	margin: 0 5px 10px 0;
	color: #000;
	box-shadow: 1px 1px 2px #ddd;
	border-radius: 3px;
	vertical-align: top;
  	font-size: 12px;
}
.toolbar input {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	background: #fff;
	padding: 0;
	margin: 0 5px 10px 0;
	color: #000;
	box-shadow: 1px 1px 2px #ddd;
	border-radius: 3px;
	vertical-align: top;
	font-size: 12px;
}
.toolbar span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0;
	margin: 0 0 10px 0;
	color: #000;
	vertical-align: top;
	font-size: 12px;
}
.editor {
	min-height: 150px;
	border: 1px solid #ddd;
	padding: 16px;
	border-radius: 4px 4px 8px 8px;
	box-shadow: 0 5px 10px #ddd;
	background: #fff;
}
textarea.editor {
	display: block;
	width: 100%;
	box-sizing: border-box;
	white-space: pre-wrap;
	height: 320px;
}